<template lang="pug">
    .admin
      client-only
        h1 ADMIN DASHBOARD
        .link
          NuxtLink(:to="localePath({name:'admin-users-manage'})") USERS
        .link
          NuxtLink(:to="localePath({name:'admin-events-manage'})") EVENTS
        .link(v-for="(config,index) in availableCruds" :key="index")
          NuxtLink(:to="localePath(getCrudTo(config))") {{(config.name||config).toString().toUpperCase().split('_').join(' ')}}S
</template>
<script>
export default {
  meta: {
    requiresAdmin: true,
  },
  data() {
    return {
      availableCruds: ['event_theme', 'translation', 'right', 'role', 'file'],
    }
  },
  methods: {
    getCrudTo(config) {
      const name = typeof config === 'string' ? config : config.name
      return {
        name: 'admin-crud-name',
        params: {
          name,
        },
      }
    },
  },
}
</script>
<style lang="scss" scoped>
.admin {
  display: flex;
  column-gap: 5px;
  row-gap: 5px;
  flex-wrap: wrap;
  flex-direction: column;
}
</style>
