<template lang="pug">
.event_templates
  .title Event templates
  .items
    .item(v-for='(item, index) in list', :key='index')
      .item_title {{ item.title }}
</template>
<script>
import data from '@/assets/herault.json'
export default {
  data() {
    return {
      list: data,
    }
  },
}
</script>
<style lang="scss" scoped>
.event_templates,
.event_templates * {
  box-sizing: border-box !important;
}
.items {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .items {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .item {
    width: 50%;
    padding: 0px 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .item {
    width: 25%;
  }
}
.item {
  margin-top: 20px;
  background-color: white;
  border-left: 1px solid #662c91;
  color: #17a398;
  padding: 20px;
}
.item:hover {
  color: #662c91;
}
.item_title {
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
.title {
  font-size: 25px;
  color: #662c91;
}
</style>
