<template lang="pug">
.event_card(@click="handleClick")
  
  NuxtLink.event_title(:to=`localePath({name:"events-slug",params:{slug:item.computedSlug}})`) {{ item.title }}

  .event_status(v-if="item.status==='closed'")
      span {{$t('EVENT.CLOSED_LABEL')}}
  img.event_breadcrumb(
    :src="getImagePath",
    alt=''
  )
  p.event_description
    | {{ description }}
  p.event_theme(v-show="eventThemeName") {{eventThemeName}}
  .event_infos
    .event_duration(v-show="item.durationHours")
      em.far.fa-clock
      span {{item.durationHours}}hs
    .event_duration(v-show="item.distanceKm")
      em.fas.fa-user
      span {{item.distanceKm}}Km
    .event_duration(v-show="item.difficulty")
      em.fas.fa-user(v-if="item.difficulty==='easy'")
      em.fas.fa-user(v-if="item.difficulty==='medium'")
      em.fas.fa-user(v-if="item.difficulty==='hard'")
      span {{item.difficulty}}

  .event_actions
    button(v-if="!!loggedUser && !loggedUserIsSubscribed" @click="joinEvent($event,item)") Join
    p(v-if="!!loggedUser &&  loggedUserIsSubscribed") {{$t('EVENT.EVENT_ALREADY_SUBSCRIBED')}}
    .toolbar
      slot(name='toolbar')
</template>
<script>
import eventMixin from './mixins/event.js'
export default {
  mixins: [eventMixin],
  props: {
    item: {
      type: Object,
      default: () => ({}),
    },
  },
  computed: {
    eventThemeName() {
      return this.item.theme && this.item.theme.name
    },
    description() {
      return `${(this.item.description || '').toString().substring(0, 100)}...`
    },
    getImagePath() {
      return this.item.images && this.item.images.length > 0
        ? `/api/uploads/${this.item.images[0].path}`
        : 'https://images.unsplash.com/photo-1551632811-561732d1e306?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=650&q=80'
    },
  },
  methods: {
    handleClick() {
      this.$router.push(
        this.localePath({
          name: 'events-slug',
          params: { slug: this.item.computedSlug },
        })
      )
    },
  },
}
</script>
<style lang="scss" scoped>
.event_card,
.event_card * {
  box-sizing: border-box;
}
.event_card {
  position: relative;
  box-sizing: border-box;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px 0px 10px 0px;
  @media only screen and (min-width: 992px) {
    width: 45%;
  }
  @media only screen and (min-width: 1200px) {
    width: 30%;
  }
  @media only screen and (min-width: 1600px) {
    width: 20%;
  }

  margin: 0 auto;
  max-width: 400px;
}
.event_status {
  position: absolute;
  right: -30px;
  top: 50px;
  transform: rotateZ(40deg);
  background-color: var(--color-light-blue);
  color: var(--color-cream);
  padding: 5px 15px;
}
.event_breadcrumb {
  padding-top: 10px;
  width: 100%;
}
.event_description {
  padding: 0px 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #17a398;
  font-size: 12px;
  text-align: center;
}
.event_theme {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}
.event_title {
  padding: 0px 10px;
  color: var(--color-light-blue);
  font-weight: 100;
  font-size: 25px;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  text-decoration: none;
}
.toolbar {
  display: block;
  margin-top: 5px;
}
.toolbar button {
  font-size: 10px;
}
.event_actions {
  margin-top: 20px;
  padding: 0px 10px;
  display: flex;
  justify-content: center;
}
.event_infos {
  width: 100%;
  margin: 0 auto;
  max-width: 400px;

  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  & > div {
    display: flex;
    column-gap: 5px;
  }

  & em,
  & span {
    font-size: 14px;
    font-weight: 400;
  }
}
</style>
