<template lang="pug">
.event
  EventForm(v-model='event' :readonly="true")
  button(v-if="canSubscribe" @click="unsuscribeFromEvent(event)") {{$t('EVENT.SUBSCRIBE_BUTTON')}}
  button(v-if="canJoin" @click="joinEvent($event,event)") {{$t('EVENT.JOIN_BUTTON')}}
</template>
<script>
import EventForm from '@/components/EventForm.vue'
import axios from 'axios'
import eventMixin from '@/components/mixins/event.js'
import ssrMixin from '@/components/mixins/ssr.js'
export default {
  components: {
    EventForm,
  },
  mixins: [eventMixin, ssrMixin],

  async asyncData(ctx) {
    const res = await ssrMixin.methods.polymorphicFetch(
      `/api/events?slug=${ctx.params.slug}`,
      ctx
    )
    return {
      event: (res && res[0]) || {},
    }
  },
  computed: {
    isClosed() {
      return this.event.status === 'closed'
    },
    canSubscribe() {
      return !!this.loggedUser && this.loggedUserIsSubscribed && !this.isClosed
    },
    canJoin() {
      return !!this.loggedUser && !this.loggedUserIsSubscribed && !this.isClosed
    },
  },
  async created() {
    if (process.client) {
      await this.update()
    }
  },
  methods: {
    async update() {
      if (this.$route.params.slug) {
        this.event = {
          ...(await axios.get(`/api/events?slug=${this.$route.params.slug}`))
            .data[0],
        }
      }
    },
  },
}
</script>
<style lang="scss" scoped>
.event {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
button {
  width: fit-content;
  margin-top: 10px;
}
</style>
