<template lang="pug">
client-only
    .profile
        label Username
        input(:value="user.username" disabled)
        label Email
        input(v-model="user.email")
        label First Name
        input(v-model="user.firstname")
        label Last Name
        input(v-model="user.lastname")
        label Phone
        input(v-model="user.phone")
        button(@click="saveChanges" :disabled="!canSave") Save changes
</template>
<script>
import axios from 'axios'
export default {
  meta: {
    requiresAdmin: true,
  },
  data() {
    return {
      user: {},
    }
  },
  computed: {
    canSave() {
      return !['firstname', 'email', 'phone'].find((f) => !this.user[f])
    },
  },
  mounted() {
    this.update()
  },
  methods: {
    async update() {
      if (this.$store.getters['auth/loggedUser']._id) {
        this.user = (
          await axios.get(
            `/api/users/${this.$store.getters['auth/loggedUser']._id}`
          )
        ).data
      }
    },
    async saveChanges() {
      await axios.put('/api/users', {
        ...this.user,
      })
    },
  },
}
</script>
<style lang="scss" scoped>
.profile {
  display: flex;
  justify-self: center;
  background-color: var(--color-cream);
  padding: 20px;
  flex-direction: column;
  label {
    padding-top: 10px;
    padding-bottom: 5px;
  }
  button {
    margin-top: 30px;
  }
}
</style>
