<template>
  <div class="container">
    <div>
      <Logo class="logo" />
      STAGE
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style>
html {
  background: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.52),
      rgb(2 12 4 / 73%)
    ),
    url(https://images.unsplash.com/photo-1549205994-e75d388952f5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  max-height: 400px;
}
</style>
